.title {
  position: fixed;
  text-align: center;
  left: 47%;
  justify-content: center;
}

#card {
  list-style-type: none;
  display: flex;
  flex-direction: column; /* Adjust to column layout */
  padding: 10px;
  border-radius: 18px;
  background-color: #afafaf;
  font-size: 15px;
  text-align: center;
  width: 300px;
}

.movie-info {
  margin-bottom: 5px;
  display: flex; /* Add space between title and poster */
  justify-content: center;
  gap: 15px;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.movie-poster {
  width: 200px;
  height: 350px;
  border-radius: 10px;
}

.button-del {
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  margin-left: 230px;
}

.overviewdet {
  max-width: 300px;
  text-decoration: none;
}
